<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>修改用户</h1>

<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="id" th:value="${user.id}">
<!--<label>用户id:</label>-->
<!--<input type="text" name="id" th:value="${user.id}" required/>-->
<label>用户名:</label>
<input type="text" name="username" th:value="${user.username}" required/>
<label>用户年龄:</label>
<input type="text" name="age" th:value="${user.age}" required/>
<button type="submit">提交</button>

</form>

</body>
</html>